생존여부 예측모델 만들기
학습용 데이터 (X_train, y_train)을 이용하여 생존 예측 모형을 만든 후, 이를 평가용 데이터(X_test)에 적용하여 얻은 예측값을 다음과 같은 형식의 CSV파일로 생성하시오(제출한 모델의 성능은 accuracy 평가지표에 따라 채점)
(가) 제공 데이터 목록

y_train: 생존여부(학습용)
X_trian, X_test : 승객 정보 (학습용 및 평가용)
(나) 데이터 형식 및 내용

y_trian (712명 데이터)
시험환경 세팅은 예시문제와 동일한 형태의 X_train, y_train, X_test 데이터를 만들기 위함임

유의사항
성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리, 피처엔지니어링, 분류알고리즘, 하이퍼파라미터 튜닝, 모형 앙상블 등이 수반되어야 한다.
수험번호.csv파일이 만들어지도록 코드를 제출한다.
제출한 모델의 성능은 accuracy로 평가함
csv 출력형태

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
# 시험환경 세팅 (코드 변경 X)
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2021)
    
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test 
    
df = pd.read_csv("../input/titanic/train.csv")
X_train, X_test, y_train, y_test = exam_data_load(df, target='Survived', id_name='PassengerId')

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 11), (179, 11), (712, 2), (179, 2))

In [38]:
# 라이브러리 불러오기
import pandas as pd

In [39]:
# 데이터 불러오기 (생략)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 11), (179, 11), (712, 2), (179, 2))

## EDA

In [7]:
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
90,91,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.0500,NaN,S
103,104,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.6542,NaN,S
577,578,1,"Silvey, Mrs. William Baird (Alice Munger)",female,39.0,1,0,13507,55.9000,E44,S
215,216,1,"Newell, Miss. Madeleine",female,31.0,1,0,35273,113.2750,D36,C
191,192,2,"Carbines, Mr. William",male,19.0,0,0,28424,13.0000,NaN,S

In [41]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 90 to 116
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Pclass       712 non-null    int64
 2   Name         712 non-null    object
 3   Sex          712 non-null    object
 4   Age          575 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Ticket       712 non-null    object
 8   Fare         712 non-null    float64
 9   Cabin        170 non-null    object
 10  Embarked     711 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 66.8+ KB

In [42]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 90 to 116
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
dtypes: int64(2)
memory usage: 16.7 KB

In [43]:
y_train.head()

     PassengerId  Survived
90            91         0
103          104         0
577          578         1
215          216         1
191          192         0

In [45]:
y_train['Survived'].value_counts()

0    441
1    271
Name: Survived, dtype: int64

## 데이터 전처리

In [46]:
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
90,91,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.0500,NaN,S
103,104,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.6542,NaN,S
577,578,1,"Silvey, Mrs. William Baird (Alice Munger)",female,39.0,1,0,13507,55.9000,E44,S
215,216,1,"Newell, Miss. Madeleine",female,31.0,1,0,35273,113.2750,D36,C
191,192,2,"Carbines, Mr. William",male,19.0,0,0,28424,13.0000,NaN,S

In [50]:
y = y_train['Survived']

features = ['Pclass', 'Sex', 'SibSp', 'Parch']

#sex만 원핫인코딩 됨
X = pd.get_dummies(X_train[features])
test = pd.get_dummies(X_test[features])

In [51]:
X, test

(     Pclass  SibSp  Parch  Sex_female  Sex_male
 90        3      0      0           0         1
 103       3      0      0           0         1
 577       1      1      0           1         0
 215       1      1      0           1         0
 191       2      0      0           0         1
 ..      ...    ...    ...         ...       ...
 621       1      1      0           0         1
 128       3      1      1           1         0
 57        3      0      0           0         1
 341       1      3      2           1         0
 116       3      0      0           0         1

 [712 rows x 5 columns],
      Pclass  SibSp  Parch  Sex_female  Sex_male
 210       3      0      0           0         1
 876       3      0      0           0         1
 666       2      0      0           0         1
 819       3      3      2           0         1
 736       3      1      3           1         0
 ..      ...    ...    ...         ...       ...
 494       3      0      0           0         1
 871       1      1      1           1         0
 530       2      1      1           1         0
 157       3      0      0           0         1
 45        3      0      0           0         1

 [179 rows x 5 columns])

In [53]:
X.shape, test.shape

((712, 5), (179, 5))

## 모델 및 평가

In [54]:
from sklearn.ensemble import RandomForestClassifier

In [55]:
model = RandomForestClassifier(n_estimators = 200, max_depth = 7, random_state = 2022)

In [59]:
model.fit(X,y)

RandomForestClassifier(max_depth=7, n_estimators=200, random_state=2022)

In [61]:
model.score(X,y)

0.8356741573033708

In [62]:
predictions = model.predict(test)

In [63]:
predictions

array([0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0])

In [64]:
test.head()

     Pclass  SibSp  Parch  Sex_female  Sex_male
210       3      0      0           0         1
876       3      0      0           0         1
666       2      0      0           0         1
819       3      3      2           0         1
736       3      1      3           1         0

In [65]:
ans = pd.DataFrame({'PassengerId': X_test.PassengerId, 'Survived' : predictions})

In [66]:
ans

     PassengerId  Survived
210          211         0
876          877         0
666          667         0
819          820         0
736          737         1
..           ...       ...
494          495         0
871          872         1
530          531         1
157          158         0
45            46         0

[179 rows x 2 columns]